1ASIWSKRBT6_PDT_20230413_110208/AMA/2016H/chameleon/AMA_ETR_TrainCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by ﻿AMADEUS s.a.s. (AMADEUS s.a.s.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ama="http://xml.amadeus.com/ErrorCodes" xmlns:ota="http://www.opentravel.org/OTA/2003/05/OTA2011A" xmlns:ama_ct="http://xml.amadeus.com/2010/06/Types_v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.003" id="AMA2016H">
  <xs:include schemaLocation="AMA_ETR_CommonTypes.xsd" />
  <xs:import namespace="http://xml.amadeus.com/2010/06/Types_v3" schemaLocation="../../2016B/AMA_CommonTypes_Proxy.xsd" />
  <xs:import namespace="http://www.opentravel.org/OTA/2003/05/OTA2011A" schemaLocation="../../../OTA/2011A/OTA_Proxy.xsd" />
  <xs:complexType name="TrainLocationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Location Code: when the "type" attribute is not present (or present with value IATA), then the Location Code value is IATA (in this case, the IATA location code is checked against RFD). Else, the location code value is not IATA. In this case, the "type"  attribute gives an indication about the type of location code. For ETR Train, the Location Code value must be 3 to 7 char-length (7 is for UIC station codes).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ama_ct:AlphaNumericStringLength3to7">
        <xs:attribute name="type" type="ama_ct:AlphaNumericStringLength1to4" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TrainLocationCodeTypeOrString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Location Code: when the "type" attribute is not present (or present with value IATA), then the Location Code value is IATA (in this case, the IATA location code is checked against RFD). Else, the location code value is not IATA. In this case, the "type"  attribute gives an indication about the type of location code. For ETR Train, the Location Code value must be 3 to 7 char-length (7 is for UIC station codes).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ama_ct:AlphaNumericStringLength3to7orString0">
        <xs:attribute name="type" type="ama_ct:AlphaNumericStringLength1to4orString0" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ETR_TrainType">
    <xs:sequence>
      <xs:element name="serviceProvider" type="RailProviderType" minOccurs="0" />
      <xs:element name="identifier" type="ama_ct:AlphaNumericStringLength1to6orString0" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Train number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="start" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" type="TrainLocationCodeTypeOrString0" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31983">MANDATORY DEPARTURE STATION CODE MISSING</ama:error>
                  <ama:error code="32055">INVALID STATION CODE LENGTH</ama:error>
                </xs:appinfo>
                <xs:documentation xml:lang="en">Departure Station code, can be UIC code (with type=UIC or other value) or closest IATA code (with no type)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31768">MANDATORY DEPARTURE DATE MISSING</ama:error>
                <ama:error code="32682">INVALID DEPARTURE DATE/TIME</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Departure date (Service date) with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locationName" type="ama_ct:StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31984">MANDATORY DEPARTURE STATION NAME MISSING</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Name of the departure point</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="platform" type="ama_ct:StringLength1to20orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31984">MANDATORY DEPARTURE STATION NAME MISSING</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Reference of the departure platform</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="end" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" type="TrainLocationCodeTypeOrString0" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31986">MANDATORY ARRIVAL STATION CODE MISSING</ama:error>
                  <ama:error code="32055">INVALID STATION CODE LENGTH</ama:error>
                </xs:appinfo>
                <xs:documentation xml:lang="en">Departure Station code, can be UIC code (with type=UIC or other value) or closest IATA code (with no type)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31770">MANDATORY ARRIVAL DATE MISSING</ama:error>
                <ama:error code="32684">INVALID ARRIVAL DATE/TIME</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Arrival date with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locationName" type="ama_ct:StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31987">MANDATORY ARRIVAL STATION NAME MISSING</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Name of Station the arrival point</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="platform" type="ama_ct:StringLength1to20orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31984">MANDATORY DEPARTURE STATION NAME MISSING</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Reference of the arrival platform</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="duration" type="DurationOrString0" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Train duration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicle" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="code" type="ama_ct:AlphaNumericStringLength1to3orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Equipment code</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="description" type="ama_ct:StringLength1to70orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="32187">EQUIPMENT DESCRIPTION TOO LONG</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Equipment description</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="mileage" type="MileageType" minOccurs="0" />
      <xs:element name="collectionReference" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="number" type="ama_ct:AlphaNumericStringLength1to70orString0">
            <xs:annotation>
              <xs:documentation>collection reference number</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="ticket" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="number" type="ama_ct:AlphaNumericStringLength1to20orString0">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="32088">TICKET NUMBER TOO LONG</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Ticket number</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:group ref="ETRCommonElements" />
    </xs:sequence>
    <xs:attribute name="description" type="ama_ct:StringLength1to199orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="32999">DESCRIPTION FIELD TOO LONG</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Description or Free Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bkgClass" type="ama_ct:AlphaNumericStringLength1to2orString0" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Booking class</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="ETRStatusCodeOrString0" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">status code (usual list, allowed values are HK, HX, HN, HL, NB)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NIP" type="ama_ct:NumericStringLength1to99orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="1194">INVALID NUMBER IN PARTY</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Number in party</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="ETRCommonAttributes" />
  </xs:complexType>
</xs:schema>

