1ASIWSKRBT6_PDT_20230413_110208/AMA/2016H/chameleon/AMA_ETR_CruiseCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by AMADEUS s.a.s. (AMADEUS s.a.s.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ama="http://xml.amadeus.com/ErrorCodes" xmlns:ota="http://www.opentravel.org/OTA/2003/05/OTA2011A" xmlns:ama_ct="http://xml.amadeus.com/2010/06/Types_v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.003" id="AMA2016H">
  <xs:import namespace="http://xml.amadeus.com/2010/06/Types_v3" schemaLocation="../../2016B/AMA_CommonTypes_Proxy.xsd" />
  <xs:include schemaLocation="AMA_ETR_CommonTypes.xsd" />
  <xs:import namespace="http://www.opentravel.org/OTA/2003/05/OTA2011A" schemaLocation="../../../OTA/2011A/OTA_Proxy.xsd" />
  <xs:complexType name="CruiseLocationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Location Code with mandatory attribute "type" filled with "PORT" to indicate that the value refers to the UNLoccode identifying port (not in RFD currently).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ota:StringLength3">
        <xs:attribute name="type" use="optional" fixed="PORT" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CruiseLocationCodeTypeOrString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Location Code with mandatory attribute "type" filled with "PORT" to indicate that the value refers to the UNLoccode identifying port (not in RFD currently).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ama_ct:StringLength3orString0">
        <xs:attribute name="type" use="optional" fixed="PORT" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ETR_CruiseType">
    <xs:sequence>
      <xs:element name="serviceProvider" type="ProviderType" minOccurs="0" />
      <xs:element name="start" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" type="CruiseLocationCodeTypeOrString0" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="use" code="31766">MANDATORY DEPARTURE POINT MISSING</ama:error>
                </xs:appinfo>
                <xs:documentation xml:lang="en">Departure portcode</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31768">MANDATORY DEPARTURE DATE MISSING</ama:error>
                <ama:error code="32682">INVALID DEPARTURE DATE/TIME</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Sailing Departure date (Service date) with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locationName" type="ama_ct:StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31766">MANDATORY DEPARTURE POINT MISSING</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Name of the departure port</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="end" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" type="CruiseLocationCodeTypeOrString0" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="use" code="31767">MANDATORY ARRIVAL POINT MISSING</ama:error>
                </xs:appinfo>
                <xs:documentation xml:lang="en">Arrival portcode</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="32684">INVALID ARRIVAL DATE/TIME</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Arrival date with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locationName" type="ama_ct:StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31767">MANDATORY ARRIVAL POINT MISSING</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Name of the arrival port</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkIn" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="startDateTime" type="TimeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="31980">INVALID CHECK-IN TIME</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">boarding time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="endDateTime" type="TimeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="31980">INVALID CHECK-IN TIME</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">boarding deadline time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="vehicle" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="name" type="ama_ct:StringLength1to35orString0" use="optional">
            <xs:annotation>
              <xs:documentation>Ship name</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="code" type="ama_ct:AlphaNumericStringLength1to2orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ship code</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="description" type="ama_ct:StringLength1to70orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ship description</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="duration" type="DurationOrString0" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Duration of the sailing by night</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ticket" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="number" type="ama_ct:AlphaNumericStringLength1to35orString0">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="7121">TICKET NUMBER</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Ticket number</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="issuanceDate" type="DateOrString0">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="24806">INVALID DATE</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Ticket Issuance date</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="mileage" type="MileageType" minOccurs="0" />
      <xs:element name="cabin" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="number" type="ama_ct:AlphaNumericStringLength1to7orString0" use="optional" />
          <xs:attribute name="bkgClass" type="ama_ct:AlphaNumericStringLength1to7orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="10007">CABIN NUMBER INVALID. PLEASE ENTER A NEW CABIN NUMBER</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Category code of the cabin (berthed category)</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="stop" minOccurs="0" maxOccurs="200">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" type="CruiseLocationCodeTypeOrString0" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="use" code="31766">MANDATORY DEPARTURE POINT MISSING</ama:error>
                </xs:appinfo>
                <xs:documentation xml:lang="en">port Of call code</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="locationName" type="ama_ct:StringLength1to60orString0">
              <xs:annotation>
                <xs:documentation>Name of the port of Call</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="start" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="required">
                  <xs:annotation>
                    <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                      <ama:error facet="use" code="31768">MANDATORY DEPARTURE DATE MISSING</ama:error>
                      <ama:error code="32682">INVALID DEPARTURE DATE/TIME</ama:error>
                      <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
                    </xs:appinfo>
                    <xs:documentation xml:lang="en">arrival date to the port of call with optional time</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="end" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="required">
                  <xs:annotation>
                    <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                      <ama:error facet="use" code="31768">MANDATORY DEPARTURE DATE MISSING</ama:error>
                      <ama:error code="32682">INVALID DEPARTURE DATE/TIME</ama:error>
                      <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
                    </xs:appinfo>
                    <xs:documentation xml:lang="en">departure date from the port of call with optional time</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="diningOptions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mealPlan" type="ama_ct:StringLength1to99orString0" minOccurs="0" />
            <xs:element name="shiftOfMeal" type="ama_ct:AlphaNumericStringLength1to8orString0" minOccurs="0">
              <xs:annotation>
                <xs:documentation>dining seating code (ex FIRST, SECOND, OPEN...)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="insurance" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="code" type="ama_ct:AlphaNumericStringLength3to7orString0" use="required">
            <xs:annotation>
              <xs:documentation>cruise compagny's insurance</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="description" type="ama_ct:StringLength1to99orString0">
            <xs:annotation>
              <xs:documentation>Description of the insurance</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:group ref="ETRCommonElements" />
    </xs:sequence>
    <xs:attribute name="description" type="ama_ct:StringLength1to199orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="32999">DESCRIPTION FIELD TOO LONG</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Description or Free Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="ETRStatusCodeOrString0" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">status code (usual list, allowed values are HK, HX, HN, HL, TT, NB)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NIP" type="ama_ct:NumericStringLength1to99orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="1194">INVALID NUMBER IN PARTY</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Number in party</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="negoSpaceId" type="ama_ct:AlphaNumericStringLength1to17orString0" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">he group identifier in the cruise line system. If the cruise is part of a group booking</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="ETRCommonAttributes" />
    <!-- NB: the cruise adds-on such as packages (hotel, shore excursion), dining, transfers and insurance should be handled in the appropriate extended content product type: Hotel, Excursion, Insurance, Restaurant and Transfer and then linked to the Cruise ETR. -->
  </xs:complexType>
</xs:schema>

