1ASIWSKRBT6_PDT/AMA/2014S/chameleon/AMA_ETR_AirCommonType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by ﻿AMADEUS s.a.s. (AMADEUS s.a.s.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ama="http://xml.amadeus.com/ErrorCodes" xmlns:ota="http://www.opentravel.org/OTA/2003/05/OTA2011A" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.002" id="AMA2014S">
  <xs:import namespace="http://www.opentravel.org/OTA/2003/05/OTA2011A" schemaLocation="../../../OTA/2011A/OTA_Proxy.xsd" />
  <xs:include schemaLocation="AMA_ETR_CommonTypes.xsd" />
  <xs:complexType name="FlightIdentifierType">
    <xs:annotation>
      <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
        <ama:error code="728">INVALID FLIGHT NUMBER</ama:error>
      </xs:appinfo>
      <xs:documentation xml:lang="en">Flight Number possibly with a Suffix</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="NumericStringLength1to4">
        <xs:attribute name="suffix" type="AlphaStringLength1orString0" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FlightIdentifierTypeOrString0">
    <xs:annotation>
      <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
        <ama:error code="728">INVALID FLIGHT NUMBER</ama:error>
      </xs:appinfo>
      <xs:documentation xml:lang="en">Flight Number possibly with a Suffix</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="NumericStringLength1to4orString0">
        <xs:attribute name="suffix" type="AlphaStringLength1orString0" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ETR_AirType">
    <xs:sequence>
      <xs:element name="serviceProvider" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating service prodiver information.
Special XSD definition for ETR Air because the provider code is limited to 2to3 char for ETR Air.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ref" type="AlphaNumericStringLength1to6orString0" use="optional">
            <xs:annotation>
              <xs:documentation>Provides provider (Marketing airline)'s profile reference</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="code" type="AlphaNumericStringLength2to3orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="817">INVALID AIRLINE CODE</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Provider code (Marketing Airline code)</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="name" type="StringLength1to35orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Provider name (Marketing Airline name)</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="identifier" type="FlightIdentifierTypeOrString0" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating Flight Number possibly with a Suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="partnerInfo" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Marketing Information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="serviceProvider" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="code" type="AlphaNumericStringLength2to3orString0" use="optional">
                  <xs:annotation>
                    <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                      <ama:error code="817">INVALID AIRLINE CODE</ama:error>
                    </xs:appinfo>
                    <xs:documentation xml:lang="en">Operating Airline code</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="StringLength1to35orString0" use="optional">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Operating Airline name</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="identifier" type="FlightIdentifierTypeOrString0" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Marketing Flight Number possibly with a Suffix</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="start" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" type="StringLength3orString0" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31766">MANDATORY DEPARTURE POINT MISSING</ama:error>
                  <ama:error code="11177">INVALID CITY / AIRPORT IATA CODE</ama:error>
                  <!-- NB: this is defined there only for the case when the value does not match the grammar format. Then, the real check against RFD is under creation BE's responsibility -->
                </xs:appinfo>
                <xs:documentation xml:lang="en">Departure Location IATA code</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31768">MANDATORY DEPARTURE DATE MISSING</ama:error>
                <ama:error code="32682">INVALID DEPARTURE DATE/TIME</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Departure date (Service date) with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="terminal" type="StringLength1to25orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Departure Terminal</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locationName" type="StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the departure city</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="airportName" type="StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:documentation>Name of the departure airport</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="end" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" type="StringLength3orString0" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31767">MANDATORY ARRIVAL POINT MISSING</ama:error>
                  <ama:error code="11177">INVALID CITY / AIRPORT IATA CODE</ama:error>
                  <!-- NB: this is defined there only for the case when the value does not match the grammar format. Then, the real check against RFD is under creation BE's responsibility  -->
                </xs:appinfo>
                <xs:documentation xml:lang="en">Arrival Location IATA code</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31770">MANDATORY ARRIVAL DATE MISSING</ama:error>
                <ama:error code="32684">INVALID ARRIVAL DATE/TIME</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Arrival date with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="terminal" type="StringLength1to25orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Arrival Terminal</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="locationName" type="StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of the arrival city</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="airportName" type="StringLength1to60orString0" use="optional">
            <xs:annotation>
              <xs:documentation>Name of the arrival airport</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="visaAlert" type="BooleanOrString0" use="optional">
            <xs:annotation>
              <xs:documentation>Indicator to define if a Visa is needed for the arrival country (Yes) or not (No)</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="vehicle" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="code" type="AlphaNumericStringLength1to3orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Equipment code</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="description" type="StringLength1to70orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Equipment description</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="meal" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="code" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>Code of the meal served on board</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="description" type="StringLength1to199orString0" use="optional">
            <xs:annotation>
              <xs:documentation>Description of the meal served on board</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="duration" type="DurationOrString0" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Flight duration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mileage" type="MileageType" minOccurs="0" />
      <xs:element name="baggage" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="quantity" type="NumericStringLength1to99orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="11713">INVALID BAGGAGE ALLOWANCE VALUE</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Baggage allowance</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkIn" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="endDateTime" type="TimeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="31980">INVALID CHECK-IN TIME</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Check-in deadline time - Only the time is stored for now</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="ticket" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="number" type="AlphaNumericStringLength1to35orString0">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="7121">TICKET NUMBER</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Ticket number</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="issuanceDate" type="DateOrString0">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="24806">INVALID DATE</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Ticket Issuance date</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="cabin" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="bkgClass" type="AlphaNumericStringLength1to7orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="10007">CABIN NUMBER INVALID. PLEASE ENTER A NEW CABIN NUMBER</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Category code of the cabin</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="route" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="ID" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:group ref="ETRCommonElements" />
    </xs:sequence>
    <xs:attribute name="description" type="StringLength1to199orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="32999">DESCRIPTION FIELD TOO LONG</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Description or Free Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bkgClass" type="AlphaNumericStringLength1to2orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="13114">INVALID BOOKING CLASS CODE</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Booking class</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="ETRStatusCodeOrString0" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">status code (usual list, allowed values are HK, HX, HN, HL, TT)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NIP" type="NumericStringLength1to99orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="1194">INVALID NUMBER IN PARTY</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Number in party</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="agreement" type="StringLength1to60orString0" use="optional">
      <xs:annotation>
        <xs:documentation>Airline alliance, group information</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ruleNumber" type="xs:string">
      <xs:annotation>
        <xs:documentation>Rule number required for some providers to complete the booking</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="ETRCommonAttributes" />
  </xs:complexType>
</xs:schema>

