1ASIWSKRBT6_PDT/AMA/2016H/chameleon/AMA_ETR_TaxiCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by ﻿AMADEUS s.a.s. (AMADEUS s.a.s.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ama="http://xml.amadeus.com/ErrorCodes" xmlns:ota="http://www.opentravel.org/OTA/2003/05/OTA2011A" xmlns:ama_ct="http://xml.amadeus.com/2010/06/Types_v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.003" id="AMA2016H">
  <xs:import namespace="http://www.opentravel.org/OTA/2003/05/OTA2011A" schemaLocation="../../../OTA/2011A/OTA_Proxy.xsd" />
  <xs:include schemaLocation="AMA_ETR_CommonTypes.xsd" />
  <xs:import namespace="http://xml.amadeus.com/2010/06/Types_v3" schemaLocation="../../2016B/AMA_CommonTypes_Proxy.xsd" />
  <xs:complexType name="ETR_TaxiType">
    <xs:sequence>
      <xs:element name="serviceProvider" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ProviderType">
              <xs:sequence>
                <xs:element name="contact" minOccurs="0" maxOccurs="10">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="type" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>Type of the contact (Email, Phone..)</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="address" minOccurs="0">
                  <xs:complexType>
                    <xs:attributeGroup ref="AddressGroup" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="start" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31766">MANDATORY DEPARTURE POINT MISSING</ama:error>
                  <ama:error code="11177">INVALID CITY / AIRPORT IATA CODE</ama:error>
                  <!-- NB: this is defined there only for the case when the value does not match the grammar format. Then, the real check against RFD is under creation BE's responsibility -->
                </xs:appinfo>
                <xs:documentation xml:lang="en">Departure Location</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="ama_ct:AlphaNumericStringLength1to10orString0">
                    <xs:attribute name="type" type="ama_ct:AlphaNumericStringLength1to10orString0" use="optional">
                      <xs:annotation>
                        <xs:documentation>Type of location code: 1A or another standard such as NLS / UIC / SPLC</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="address" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Location Address</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attributeGroup ref="AddressGroup" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31768">MANDATORY DEPARTURE DATE MISSING</ama:error>
                <ama:error code="32682">INVALID DEPARTURE DATE</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Departure date (Service date) with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="terminal" type="ama_ct:StringLength1to25orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Departure Terminal</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="end" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31767">MANDATORY ARRIVAL POINT MISSING</ama:error>
                  <ama:error code="11177">INVALID CITY / AIRPORT IATA CODE</ama:error>
                  <!-- NB: this is defined there only for the case when the value does not match the grammar format. Then, the real check against RFD is under creation BE's responsibility -->
                </xs:appinfo>
                <xs:documentation xml:lang="en">Arrival Location</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="ama_ct:AlphaNumericStringLength1to10orString0">
                    <xs:attribute name="type" type="ama_ct:AlphaNumericStringLength1to10orString0" use="optional">
                      <xs:annotation>
                        <xs:documentation>Type of location code: 1A or another standard such as NLS / UIC / SPLC</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="address" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Location Address</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attributeGroup ref="AddressGroup" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31770">MANDATORY ARRIVAL DATE MISSING</ama:error>
                <ama:error code="32684">INVALID ARRIVAL DATE</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Arrival date with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="terminal" type="ama_ct:StringLength1to25orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Arrival Terminal</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="vehicle" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="capacity" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="seats" type="ama_ct:NumericStringLength1to4orString0">
                  <xs:annotation>
                    <xs:documentation>Number of seats in the vehicle</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="code" type="ama_ct:AlphaNumericStringLength1to3orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">vehicle code</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="description" type="ama_ct:StringLength1to70orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">vehicle description</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="mileage" type="MileageType" minOccurs="0" />
      <xs:element name="baggage" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="quantity" type="ama_ct:NumericStringLength1to99orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="11713">INVALID BAGGAGE ALLOWANCE VALUE</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Baggage allowance</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:group ref="ETRCommonElements" />
    </xs:sequence>
    <xs:attribute name="bkgClass" type="ama_ct:AlphaNumericStringLength1to2orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="13114">INVALID BOOKING CLASS CODE</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Booking class</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="ama_ct:StringLength1to199orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="32999">DESCRIPTION FIELD TOO LONG</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Description or Free Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="ETRStatusCodeOrString0" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">status code (usual list, allowed values are HK, HX, HN, HL, TT, NB)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NIP" type="ama_ct:NumericStringLength1to99orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="1194">INVALID NUMBER IN PARTY</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Quantity</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serviceType">
      <xs:annotation>
        <xs:documentation>Codeset list "shared". "private" taxi service</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="private" />
          <xs:enumeration value="shared" />
          <xs:enumeration value="hourly" />
          <xs:enumeration value="" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="ETRCommonAttributes" />
  </xs:complexType>
  <xs:complexType name="TaxiBaseType">
    <xs:sequence>
      <xs:element name="serviceProvider" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ProviderType">
              <xs:sequence>
                <xs:element name="contact" minOccurs="0" maxOccurs="10">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="type" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>Type of the contact (Email, Phone..)</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="address" minOccurs="0">
                  <xs:complexType>
                    <xs:attributeGroup ref="AddressGroup" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="start" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31766">MANDATORY DEPARTURE POINT MISSING</ama:error>
                  <ama:error code="11177">INVALID CITY / AIRPORT IATA CODE</ama:error>
                  <!-- NB: this is defined there only for the case when the value does not match the grammar format. Then, the real check against RFD is under creation BE's responsibility -->
                </xs:appinfo>
                <xs:documentation xml:lang="en">Departure Location</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="ama_ct:AlphaNumericStringLength1to10orString0">
                    <xs:attribute name="type" type="ama_ct:AlphaNumericStringLength1to10orString0" use="optional">
                      <xs:annotation>
                        <xs:documentation>Type of location code: 1A or another standard such as NLS / UIC / SPLC</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="address" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Location Address</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attributeGroup ref="AddressGroup" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31768">MANDATORY DEPARTURE DATE MISSING</ama:error>
                <ama:error code="32682">INVALID DEPARTURE DATE</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Departure date (Service date) with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="terminal" type="ama_ct:StringLength1to25orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Departure Terminal</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="end" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locationCode" minOccurs="0">
              <xs:annotation>
                <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                  <ama:error facet="minOccurs" code="31767">MANDATORY ARRIVAL POINT MISSING</ama:error>
                  <ama:error code="11177">INVALID CITY / AIRPORT IATA CODE</ama:error>
                  <!-- NB: this is defined there only for the case when the value does not match the grammar format. Then, the real check against RFD is under creation BE's responsibility -->
                </xs:appinfo>
                <xs:documentation xml:lang="en">Arrival Location</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="ama_ct:AlphaNumericStringLength1to10orString0">
                    <xs:attribute name="type" type="ama_ct:AlphaNumericStringLength1to10orString0" use="optional">
                      <xs:annotation>
                        <xs:documentation>Type of location code: 1A or another standard such as NLS / UIC / SPLC</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="address" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Location Address</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attributeGroup ref="AddressGroup" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="dateTime" type="DateOrDateTimeTypeOrString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error facet="use" code="31770">MANDATORY ARRIVAL DATE MISSING</ama:error>
                <ama:error code="32684">INVALID ARRIVAL DATE</ama:error>
                <!-- NB: here only the reg expr of ota:DateOrDateTimeType is checked. Full validation of validity date is done on creation BEs -->
              </xs:appinfo>
              <xs:documentation xml:lang="en">Arrival date with optional time</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="terminal" type="ama_ct:StringLength1to25orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Arrival Terminal</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="vehicle" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="capacity" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="seats" type="ama_ct:NumericStringLength1to4orString0">
                  <xs:annotation>
                    <xs:documentation>Number of seats in the vehicle</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="code" type="ama_ct:AlphaNumericStringLength1to3orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">vehicle code</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="description" type="ama_ct:StringLength1to70orString0" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">vehicle description</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="mileage" type="MileageType" minOccurs="0" />
      <xs:element name="baggage" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="quantity" type="ama_ct:NumericStringLength1to99orString0" use="optional">
            <xs:annotation>
              <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
                <ama:error code="11713">INVALID BAGGAGE ALLOWANCE VALUE</ama:error>
              </xs:appinfo>
              <xs:documentation xml:lang="en">Baggage allowance</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="descriptions" minOccurs="0" maxOccurs="100">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ProductDescriptionType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="bkgClass" type="ama_ct:AlphaNumericStringLength1to2orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="13114">INVALID BOOKING CLASS CODE</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Booking class</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="ama_ct:StringLength1to199orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="32999">DESCRIPTION FIELD TOO LONG</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Description or Free Text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NIP" type="ama_ct:NumericStringLength1to99orString0" use="optional">
      <xs:annotation>
        <xs:appinfo source="http://xml.amadeus.com/ErrorCodes">
          <ama:error code="1194">INVALID NUMBER IN PARTY</ama:error>
        </xs:appinfo>
        <xs:documentation xml:lang="en">Quantity</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serviceType">
      <xs:annotation>
        <xs:documentation>Codeset list "shared". "private" taxi service</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="private" />
          <xs:enumeration value="shared" />
          <xs:enumeration value="hourly" />
          <xs:enumeration value="" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>

